*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#eye {
  width: 170px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(232, 232, 232);
  border: 4px solid black;
  display: flex;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

#eyeShade {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: rgb(191, 153, 106);
  position: absolute;
  top: 0;
  animation: eyeShade 2s ease infinite;
  border-bottom: 4px solid black;
}

@keyframes eyeShade {
  50% {
    top: -100%;
  }
}

#eyeBall {
  width: 45%;
  height: 100%;
  background-color: rgb(132, 61, 11);
  border-radius: 50%;
  position: relative;
}

#eyeDark {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
  animation: eyeRoll 1s ease-in infinite;
}

@keyframes eyeRoll {
  0% {
    top: 60%;
    left: 60%;
  }
  25% {
    top: 60%;
    left: 40%;
  }
  50% {
    top: 40%;
    left: 40%;
  }
  75% {
    top: 40%;
    left: 60%;
  }
  100% {
    top: 60%;
    left: 60%;
  }
}
