/*
apple
<i class="ri-apple-fill"></i>

search
<i class="ri-search-line"></i>

Bag
<i class="ri-shopping-bag-4-line"></i>

*/

@font-face {
    font-family: apple;
    src: url(./assets/sf-pro-text_regular.woff2);
}

@font-face {
    font-family: apple-thin;
    src: url(./assets/sf-pro-display-thin.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-color: rgb(128, 128, 128) black;
}

#wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

#nav {
    min-height: 46px;
    width: 100%;
    background-color: #ffffff87;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0px;
    z-index: 2;
}

#nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    font-family: apple-thin;
}

.first {
    height: 95%;
    width: 100%;
    background: url(./assets/medium_2x.mp4);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#bgVideo {
    height: 85%;
    width: 100%;
    transform: scale(2);
    margin-top: 100px;
}

.start {
    position: absolute;
    top: 330px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
}

.start h1 {
    font-size: 4rem;
}

.start p {
    font-size: 1.5rem;
}

/* Buttons */

.btns {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    padding: 15px 30px;
    /* border: none; */
    border-radius: 30px;
    background-color: #006edb;
    color: white;
    font-size: 1.1rem;
    border: 1.5px solid #006edb;
}

.dark2bluebtn {
    color: #006edb;
    background-color: black;
}
.dark2bluebtn:hover {
    color: #ffffff;
    background-color: #006edb;
}

.white2bluebtn {
    color: #006edb;
    background-color: transparent;
}
.white2bluebtn:hover {
    color: #ffffff;
    background-color: #006edb;
}

/* ip17 */

.ip17 {
    height: 90%;
    width: 100%;
    background: url(./assets/hero_iphone_17_pro__bknyzxfk2agi_largetall.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.ip17 h1 {
    padding-top: 50px;
    font-size: 3.3rem;
}

.ip17 h3 {
    font-size: 1.6rem;
    font-weight: 200;
}

.ipair {
    height: 90%;
    width: 100%;
    background: url(./assets/hero_iphone_air__0gxyavihpiqu_largetall.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.ipair h1 {
    padding-top: 50px;
    font-size: 3.3rem;
}

.ipair h3 {
    font-size: 1.6rem;
    font-weight: 200;
}

/* Products grid */

.products-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 580px 580px 580px;
    gap: 10px;
    margin: 10px;
    /* margin-left: 8px; */
}

.product {
    text-align: center;
}

.product h1 {
    font-size: 2.4rem;
    padding-top: 50px;
}

.product p {
    font-size: 1.3rem;
    letter-spacing: normal;
    padding-top: 5px;
}

.product .btns {
    gap: 15px;
    height: 70px;
}
.product button {
    font-size: 0.8rem;
    padding: 10px 20px;
}

.product1 {
    background: url(./assets/1-promo_iphone_17__bhofuohbsu3m_medium_2x.jpg);
    background-position: center;
    background-size: contain;
}

.product2 {
    background: url(./assets/2-promo_airpodspro_3__f6xmza7bglei_medium.jpg);
    background-position: center;
    background-size: cover;
}

.product3 {
    background: url(./assets/3-promo_apple_watch_series_11__b63hxviqvonm_small_2x.jpg);
    background-position: center;
    background-size: cover;
}

.product4 {
    background: url(./assets/4-promo_apple_watch_se_3__fz5y29qx5mmy_small_2x.jpg);
    background-position: center;
    background-size: cover;
}

.product5 {
    background: url(./assets/5-promo_apple_watch_ultra3__bwvslhbxx99e_small_2x.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.product6 {
    background: url(./assets/6-promo_iphone_tradein__bugw15ka691e_small_2x.jpg);
    background-position: cover;
    background-size: contain;
}

/* courosol */

.courosol {
    height: 100vh;
    width: 100%;
    background: url(./assets/1378x774.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.courosol > .btns {
    justify-content: flex-start;
    color: white;
    position: absolute;
    bottom: 70px;
    left: 100px;
    z-index: 4;
}

.courosol button {
    background-color: white;
    color: black;
    border: none;
}

.courosol p {
    font-size: 1.4rem;
    text-shadow: 0 0 10px black;
}

.footer {
    background-color: #f5f5f7;
    margin-top: 10px;
    padding: 20px 270px;
    padding-bottom: 0;
    color: #6c6c6c;
    font-size: 12px;
}

.notice {
    color: #6c6c6c;
    font-size: 12px;
}

span.d {
    color: #595959;
    font-weight: 600;
}

.links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 30px);
    text-align: center;
}

.fp a {
    color: #0e6ecf;
}

.copyright {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: flex-start;
}
.copy-right {
    padding-left: 270px;
}
